<h1>Main#index</h1>

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= form_with url: user_google_oauth2_omniauth_authorize_path, data: {turbo: false} do |f| %>
    <%= f.submit "Sign in with Google" %>
  <% end %>
<% end %>