<%= modal_link_helper title, path, 
    tabindex: "-1",
    data: { 
      rpg_menu_target: "item",
      rpg_menu_index_param: index
    }, 
    class: "block p-6 border border-green-600/50 rounded-xl bg-green-900/20 no-underline transition-all duration-300 hover:border-green-600/90 hover:shadow-[0_0_10px] hover:shadow-green-800/80 cursor-pointer outline-0 focus:border-green-500/90 focus:shadow-[0_0_20px] focus:shadow-green-500/50" do %>
  <h3 class="text-xl mb-2 glow"><%= title %></h3>
  <p class="text-sm opacity-80 text-computer"><%= description %></p>
<% end %>
