  <hr class="mt-10">

  <div class="mt-10 space-y-10 flex flex-col">
    <h2 class="glow">How it works in Claude AI</h2>
    <p>Currently, the only major LLM that supports connectors is Claude AI. You can set them up in the <a href="https://claude.ai/settings/connectors" target="_blank" class="muted-link">Claude AI connectors page</a>.</p>
    <h3 class="glow">1. Setup the extension in Claude</h3>
    <div style="position: relative; padding-bottom: 56.25%; height: auto;"><iframe src="https://www.loom.com/embed/96097978dbb94a0e9bbdbd3c74cbfe2e?sid=7e33662c-df63-4736-a7e9-4ef8e5a558db" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    <h3 class="glow">2. Enable it in the chat and provide the token</h3>
    <div class="relative aspect-video"><iframe src="https://www.loom.com/embed/ecff25c26dbc4880bc78dd71ca1ce17f?sid=7cd9dd38-0b1a-466c-8cb8-91604e973385" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
  </div>